.form-input {
    display: flex;
    padding: 1em;
    align-items: center;
}

.form-input > * {
    flex: 3;
}

.form-input > label {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

form > h2 {
    margin-bottom: 1em;
    font-size: 1.75em;
}

form > p {
    margin: 0 .5em .5em .5em;
    text-align: justify;
}

hr {
    margin-bottom: 2em;
}

.rubric {
    margin: 2em 5em;
}

.rubric-entry {
    padding: .5em;
    align-items: center;

    display: grid;
    grid-template-areas: "text range input";
    grid-template-columns: 8fr 1fr 1fr;
}

.rubric-entry > h3 {
    text-align: center;
}

.entry-text {
    padding: .5em;
}

.entry-range {
    text-align: center;
}

.rubric-entry > input {
    width: 5vw;
    margin: 0 auto;
    text-align: center;
}