/*  =============================================

    Fuentes.

=============================================  */
@font-face {
    font-family: "GMX";
    src: url(../assets/fonts/GMX.otf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    /* --azul-tec: #002B7F; */
    --azul-tec: #1B396A;
    --azul-tec-light: #184286;
    --amarillo-tec: rgb(10, 10, 8);

    --page-background: #EAEAEA;
    --content-background: white;

    --gray-border-color: #585858;

    --primary-text: #212121;
    --secondary-text: #616161;

    --animation-duration: 150ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: #212121;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--page-background);
}

header > .bar {
    padding: 1em 3em;
    background-color: var(--azul-tec);
}

header * {
    color: white;
}

header h1 {
    font-family: "GMX";
}

header h2 {
    font-family: "Montserrat";
    font-weight: 400;
}

/* Nuevo header */
.header-extension::after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 10em;
    background-color: var(--azul-tec);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    z-index: -5;
}

header a {
    font-family: inherit;
    text-decoration: none;
}


/*  =============================================

    Otros.

=============================================  */
/* Esta clase aplica la fuente oficial del Gobierno de México. */
.gmx-font {
    font-family: "GMX";
}


/*  =============================================

    BOTONES.

=============================================  */  
.primary-button {
    color: white;
    border: 1px solid var(--azul-tec);
    background-color: var(--azul-tec);
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    transition-duration: var(--animation-duration);
    box-sizing: content-box;
}

.primary-button:hover {
    background-color: var(--azul-tec-light);
    color: white;
}

.secondary-button {
    color: var(--azul-tec);
    border: 1px solid var(--azul-tec);
    background-color: transparent;
    padding: .5em 1em;
    font-weight: bold;
    cursor: pointer;
    box-sizing: content-box;
}

.secondary-button:hover {
    box-shadow: inset 0 0 0 1px var(--azul-tec);
}

/*  =============================================

    Inputs.

=============================================  */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea,
select {
    padding: 0.5em 1em;
    background-color: #f2f2f2;
    border: 1px solid var(--gray-border-color);
    overflow: hidden;
    resize: none;
}

input[type="number"] {
    appearance: textfield;
    -ms-progress-appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;

    padding: 0.25em 1em;
    background-color: #f2f2f2;
    border: 1px solid var(--gray-border-color);
    font-size: 1em;
}


/*  =============================================

    Footer.

=============================================  */
footer {
    padding: 2em;
    background-color: #272727;
}

footer * {
    color: white;
}

footer > p {
    text-align: center;
}

footer > .sections-container {
    display: flex;
    margin-bottom: 2em;
}

footer > .sections-container > section {
    flex: 1;
}

footer .section-item {
    padding: 1em;
}