.content {
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/index-background.jpg);
    background-size: cover;
}

.content * {
    color: white;
}

.black-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-container {
    width: 35vw;
    margin: 0 auto 0 10vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container > * {
    margin: .75em 0;
}

.main-container > h1 {
    font-size: 2.75em;
}
.main-container > h2 {
    font-size: 1.5em;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: .75em 1.25em;
    font-size: 18px;
    transition-duration: var(--animation-duration);
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: black;
}