@media only screen and (min-width: 1441px) {
    :root {
        --main-vertical-padding: 15vw;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1440px) {
    :root {
        --main-vertical-padding: 7.5vw;
    }
}

@media only screen and (max-width: 1099px) {
    :root {
        --main-vertical-padding: 5vw;
    }
}
.content > .title {
    padding: 5vh var(--main-vertical-padding);
}

h3 {
    font-weight: normal;
}

.content > .title  * {
    font-family: 'Montserrat';
}

.content > .title > p {
    font-family: 'Open Sans';
    margin-top: 1em;
    text-align: justify;
    color: var(--secondary-text);
}

.content > hr {
    margin: 0 25vw;
    border-color: var(--azul-tec);
}

#container {
    padding: 5vh var(--main-vertical-padding);
}

.residencia {
    background-color: white;
    padding: 1em 3em;
    margin-bottom: 1em;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    transition: var(--animation-duration);
}

.residencia:hover {
    border-left: 5px solid var(--azul-tec);
}

.residencia > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.residencia > .title > .projectNameContainer {
    flex: 1;
}

.residencia > .title > .projectNameContainer > .projectName {
    font-size: 1.75em;
    color: var(--azul-tec);
    font-weight: bold;
}

.residencia > .title > .period {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.residencia > .title > .period > p {
    color: var(--secondary-text);
}