.form-input {
    display: flex;
    padding: 1em;
    align-items: center;
}

.form-input > * {
    flex: 3;
}

.form-input > label {
    flex: 1;
}

.subject-picker {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--gray-border-color);
    overflow: hidden;
    border-radius: 4px;
    margin: 2em 5%;
    background-color: rgb(226, 226, 226);
    min-height: 20em;
    max-height: 20em;
}

.subject-picker > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.subject-picker > .picker-container {
    border-left: 1px solid var(--gray-border-color);
}

.picker-container > .searchWidget {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
}

.picker-container > .searchWidget > input {
    flex: 1;
    }
.picker-container > .searchWidget > i {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .25em;
    cursor: pointer;
    background-color: var(--azul-tec);
    color: white;
}

.picker-container > .resultsContainer {
    flex: 1;
    overflow-y: scroll;
}

.picker-container > .resultsContainer > .subject {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    cursor: pointer;
    border-bottom: 1px solid var(--gray-border-color);
}

.picker-container > .resultsContainer > .subject:hover {
    background-color: var(--azul-tec-light);
}

.picker-container > .resultsContainer > .subject:hover > p {
    color: white;
}

.subject-container > p {
    background-color: white;
    padding: .5em;
    border-bottom: 1px solid var(--gray-border-color);
    }

.subject-container > #subjectContainer  {
    overflow-y: scroll;
    flex: 1;
}

.subject-container > #subjectContainer > .subject {
    background-color: white;
    padding: .5em;
    margin: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subject-container > #subjectContainer > .subject > .name {
    flex: 1;
}

.subject-container > #subjectContainer > .subject > i {
    cursor: pointer;
}

.subject-container > #subjectContainer > .subject > i:hover {
    color: red;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

form > p {
    margin: .5em 0;
}
