@media only screen and (min-width: 1441px) {
    :root {
        --vertical-form-margin: 20vw;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1440px) {
    :root {
        --vertical-form-margin: 15vw;
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        --vertical-form-margin: 2vw;
    }
}

.content {
    padding-left: var(--vertical-form-margin);
    padding-right: var(--vertical-form-margin);
}

.form-input {
    display: flex;
    padding: 1em;
    align-items: center;
}

.form-input > * {
    flex: 3;
}

.form-input > label {
    flex: 1;
}

form > .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin: 2em 10% 0;
}

form > .buttons-container > button:not(:first-child) {
    margin-left: 3em;
}

form p {
    font-family: 'Arial';
    color: var(--primary-text) !important; 
}

.page-header {
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    margin-bottom: 3em;
}

.page-header > img {
    height: 100px;
    -ms-grid-row-align: center;
}

.page-header > .text > *{
    text-align: center;
    color: var(--secondary-text) !important;
}

.page-header > .text > .title {
    margin-top: 2em;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2em;
}

.page-content > p {
    margin-bottom: .5em;
    text-align: justify;
}

.field-bundle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
}

.field-bundle > p:not(:first-child) {
    margin-left: 1em;
}

.buttons-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    margin: 5em 5vw;
}

.assigner-container > p {
    margin-top: 1em;
    text-align: justify;
}

.assigner {
    background-color: white;
    border: 1px solid var(--gray-border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    overflow: hidden;
}

.assigner > .searchBar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.assigner > .searchBar > * {
    display: flex;
    align-items: center;
}

.assigner > .searchBar > input {
    flex: 1;
    border: none;
    border-bottom: 1px solid var(--gray-border-color);
}

.assigner > .searchBar > i {
    background-color: var(--azul-tec);
    color: white;
    padding: .5em;
}

.teacher > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--gray-content-color);
}

.teacher > .title > * {
    color: var(--secondary-text);
    padding: .25em;
    color: white;
}

.teacher > .teacherName {
    padding: .25em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teacher > .teacherName > i {
    margin-right: .5em;
}

.teacher > .teacherName > i:hover {
    color: red;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.result > * {
    padding: .25em;
}

.result:hover > i {
    background-color: green;
    color: white;
}

i {
    cursor: pointer;
}

.assigner-container > .buttons-container {
    display: flex;
    margin: 2em 10%;
    flex-direction: row;
}

.assigner-container > .buttons-container > button:not(:first-child) {
    margin-left: 3em;
}
